    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img
                    [src]="images[currentImageIndex]"
                    alt="{{ images[currentImageIndex] }}"
                  />
                    
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slides-navigation">
            <a href="#" class="next" (click)="prevImage()"
              ><i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
            <a href="#" class="prev" (click)="nextImage()"
              ><i class="fa fa-angle-left" aria-hidden="true"></i
            ></a>
        </div>
    </div>
    <!-- End Instagram Feed  -->