<div class="product-item-filter row">
    <div class="col-12 col-sm-8 text-center text-sm-left">
        <div class="toolbar-sorter-right">
            <span>Sort by </span>
            <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
            <option data-display="Select">Nothing</option>
            <option value="1">Popularity</option>
            <option value="2">High Price → High Price</option>
            <option value="3">Low Price → High Price</option>
            <option value="4">Best Selling</option>
        </select>
        </div>
        <p>Showing all 4 results</p>
    </div>
    <div class="col-12 col-sm-4 text-center text-sm-right">
        <ul class="nav nav-tabs ml-auto">
            <li>
                <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
            </li>
            <li>
                <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
            </li>
        </ul>
    </div>
</div>