<div class="odr-box">
    <div class="title-left">
        <h3>Shopping cart</h3>
    </div>
    <div class="rounded p-2 bg-light">
        <div class="media mb-2 border-bottom">
            <div class="media-body"> <a href="detail.html"> Lorem ipsum dolor sit amet</a>
                <div class="small text-muted">Price: $80.00 <span class="mx-2">|</span> Qty: 1 <span class="mx-2">|</span> Subtotal: $80.00</div>
            </div>
        </div>
        <div class="media mb-2 border-bottom">
            <div class="media-body"> <a href="detail.html"> Lorem ipsum dolor sit amet</a>
                <div class="small text-muted">Price: $60.00 <span class="mx-2">|</span> Qty: 1 <span class="mx-2">|</span> Subtotal: $60.00</div>
            </div>
        </div>
        <div class="media mb-2">
            <div class="media-body"> <a href="detail.html"> Lorem ipsum dolor sit amet</a>
                <div class="small text-muted">Price: $40.00 <span class="mx-2">|</span> Qty: 1 <span class="mx-2">|</span> Subtotal: $40.00</div>
            </div>
        </div>
    </div>
</div>
