<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <app-filter></app-filter>
                    
                    <div class="product-categorie-box">
                        <app-product></app-product>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <app-search></app-search>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Categories</h3>
                        </div>
                        <app-sidebar></app-sidebar>
                    </div>
                    <app-price></app-price>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->